<!DOCTYPE html>
<html lang="en">
  <head>
    <title>posdaJS</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body ng-app="posdaJS" ng-controller="posdaCtrl">
    <div id="data" class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h1 id="siteTitle">posdaJS</h1>
          <hr>
          <div id="modeSelect" class="row">
            <div class="col-xs-1">
              <label class="selectLabel">Mode: </label>
            </div>
            <div class="col-xs-4">
              <select class="form-control" ng-model="modeSelect" ng-change="changeMode()">
                <option>svg</option>
                <option>book</option>
                <option>Composite IODs</option>
              </select>
            </div>
          <div ng-show="modeSelected">
            <div class="col-xs-1 col-xs-offset-1">
              <label class="selectLabel">Select: </label>
            </div>
            <div class="col-xs-4">
              <select class="form-control" id="dataSelect" ng-model="tableSelect" ng-change="changeData()">
                <option ng-repeat="x in dataSelect.table">{{x.Title}}</option>
              </select>
            </div>
          </div>
          </div>
          <hr>
          <div ng-show="tableSelected">
          <h2>{{tableSelect}}</h2>
          <h3>{{tableName}}</h3>
          <div id="parameters" class="well">

            <div class="row">
              <div class="col-xs-2"><center><p class="parameterTitle">Entity</p></center></div>
              <div class="col-xs-10"><center><p class="parameterTitle">Module</p></center></div>
            </div>

            <div class="row">
              <div class="col-xs-2">
                <p class="parameterGroup">Equipment</p>
              </div>
              <div class="col-xs-10">
                <label><input type="checkbox">General Equipment</label>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2">
                <p class="parameterGroup">Frame of Reference</p>
              </div>
              <div class="col-xs-10">
                <label><input type="checkbox">Frame of Reference</label>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2">
                <p class="parameterGroup">Study</p>
              </div>
              <div class="col-xs-10">
                <label><input type="checkbox">Clinical Trial Study; </label>
                <label><input type="checkbox">General Study; </label>
                <label><input type="checkbox">Patient Study</label>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2">
                <p class="parameterGroup">Series</p>
              </div>
              <div class="col-xs-10">
                <label><input type="checkbox">Clinal Trial Series; </label>
                <label><input type="checkbox">General Series</label>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2">
                <p class="parameterGroup">Patient</p>
              </div>
              <div class="col-xs-10">
                <label><input type="checkbox">Clinal Trial Subject; </label>
                <label><input type="checkbox">Patient</label>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2">
                <p class="parameterGroup">Image</p>
              </div>
              <div class="col-xs-10">
                <label><input type="checkbox">CT Image; </label>
                <label><input type="checkbox">Common Instance Reference; </label>
                <label><input type="checkbox">Contrast/Bolus; </label>
                <label><input type="checkbox">Device; </label>
                <label><input type="checkbox">General Imaging; </label>
                <label><input type="checkbox">Image Pixel; </label>
                <label><input type="checkbox">Image Plane; </label>
                <label><input type="checkbox">Overlay Plane; </label>
                <label><input type="checkbox">SOP Common; </label>
                <label><input type="checkbox">Speciment; </label>
                <label><input type="checkbox">VOI LUT</label>
              </div>
            </div>

        </div>
        <div id="renderedTable">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th ng-click="changeOrderBy('element')">Element</th>
                <th ng-click="changeOrderBy('entity')">Entity</th>
                <th ng-click="changeOrderBy('module')">Module</th>
                <th ng-click="changeOrderBy('usage')">Usage</th>
                <th ng-click="changeOrderBy('req')">Req</th>
                <th ng-click="changeOrderBy('name')">Name</th>
                <th ng-click="changeOrderBy('desc')">Comments</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in tableData | orderBy:orderByThis">
                <td>{{x.element}}</td>
                <td>{{x.entity}}</td>
                <td>{{x.module}}</td>
                <td>{{x.usage}}</td>
                <td>{{x.req}}</td>
                <td>{{x.name}}</td>
                <td>{{x.desc}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        </div>
      </div>
      </div>
    </div>
  </body>





  <footer>
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/require.min.js"></script>
    <script src="js/app.js"></script>
  </footer>
</html>
