<!DOCTYPE html>
<html lang="en">

<head>
    <title>posdaJS</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>

<body ng-app="posdaJS" ng-controller="posdaCtrl">
    <div id="data" class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h1 class="siteTitle">posdaJS</h1>
                <hr>
                <div id="modeSelect" class="row">
                    <div class="col-xs-1">
                        <label class="selectLabel">Mode: </label>
                        <div ng-show="showBookSelect">
                          <br />
                          <label class="selectLabel">Book: </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="row">
                        <select class="form-control" ng-model="modeSelect" ng-change="changeMode()">
                            <option>book</option>
							              <option>svg</option>
                            <option>Composite IODs</option>
                        </select>
                      </div>
                        <div class="row" ng-show="showBookSelect">
                          <br />
                          <select ng-show="showBookSelect" class="form-control" ng-model="bookSelect" ng-change="changeBook()">
                              <option ng-repeat="x in bookDataSelect.table">{{x.Title}}</option>
                          </select>
                        </div>
                    </div>
                    <div ng-show="showTableSelect">
                        <div class="col-xs-1 col-xs-offset-1">
                            <label class="selectLabel">Select: </label>
                        </div>
                        <div class="col-xs-4 input-group">
                            <input class="form-control" list="tableSelectList" ng-show="tableSearchSwitch" type="text" ng-model="tableSelect" ng-change="changeData()">
                            <datalist id="tableSelectList">
                                <option ng-if="tableSearchSwitch" ng-repeat="x in dataSelect.table">{{x.Title}}</option>
                            </datalist>
                            <select class="form-control" id="dataSelect" ng-model="tableSelect" ng-hide="tableSearchSwitch" ng-change="changeData()">
                                <option ng-repeat="x in dataSelect.table">{{x.Title}}</option>
                            </select>
                            <span class="input-group-addon">
                              <input type="checkbox" ng-model="tableSearchSwitch" ng-change="tableSelected=svgShow=false;tableSelect=''">
                              Search
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div ng-show="tableSelected">
                    <h2>{{tableSelect}}</h2>
                    <h3>{{tableName}}</h3>
                    <div id="parameters" class="well" ng-show="iodSelected">
                        <div class="row">
                            <div class="col-xs-2">
                                <center>
                                    <p class="parameterTitle">Entity</p>
                                </center>
                            </div>
                            <div class="col-xs-10">
                                <center>
                                    <p class="parameterTitle">Module</p>
                                </center>
                            </div>
                        </div>

                        <div class="row" ng-repeat="x in entities track by $index">
                            <div class="col-xs-3">
                                <label class="parameterGroup">
                                    <input type="checkbox" ng-click="filterEntity($index,x.selected)" ng-model="x.selected" />{{x.name}}</label>
                            </div>
                            <div class="col-xs-9">
                                <label ng-repeat="n in modules[$index]">
                                    <input type="checkbox" ng-model="n.selected" ng-click="filterModule(n.name)" />{{n.name}}&nbsp;&nbsp;</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-offset-3 col-xs-3">
                                <center>
                                    <button class="btn" ng-click="selectAll()">Select all</button>
                                </center>
                            </div>
                            <div class="col-xs-3">
                                <center>
                                    <center>
                                        <button class="btn" ng-click="deselectAll()">Deselect all</button>
                                    </center>
                                </center>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="iodSelected">
                        <div class="col-xs-offset-3 col-xs-2">
                            <center>
                                <label class="parameterGroup">
                                    <input type="checkbox" ng-model="vrShow" ng-click="getVRVM()" />Show VR</label>
                            </center>
                        </div>
                        <div class="col-xs-2">
                            <center>
                                <label class="parameterGroup">
                                    <input type="checkbox" ng-model="vmShow" ng-click="getVRVM()" />Show VM</label>
                            </center>
                        </div>
                        <div class="col-xs-2">
                            <center>
                                <label class="parameterGroup">
                                    <input type="checkbox" ng-model="showOnlyRequired" />Show Only Required</label>
                            </center>
                        </div>
                    </div>


                    <div class="input-group">
                        <span class="input-group-addon">Search</span>
                        <input type="text" class="form-control" ng-model="tableSearch" placeholder="Enter search query here." aria-describedby="sizing-addon2">
                    </div>

                    <div id="renderedTable">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>

                                    <th ng-repeat="x in tableHeaders" ng-show="bookSelected">
                                      {{x}}
                                    </th>

                                    <th ng-click="changeOrderBy('element')" ng-show="iodSelected">Element</th>
                                    <th ng-click="changeOrderBy('entity')" ng-show="iodSelected">Entity</th>
                                    <th ng-click="changeOrderBy('module')" ng-show="iodSelected">Module</th>
                                    <th ng-click="changeOrderBy('usage')" ng-show="iodSelected">Usage</th>
                                    <th ng-click="changeOrderBy('req')" ng-show="iodSelected">Req</th>
                                    <th ng-click="changeOrderBy('vr')" ng-show="vrShow && iodSelected">VR</th>
                                    <th ng-click="changeOrderBy('vm')" ng-show="vmShow && iodSelected">VM</th>
                                    <th ng-click="changeOrderBy('name')" ng-show="iodSelected">Name</th>
                                    <th ng-click="changeOrderBy('desc')" ng-show="iodSelected">Comments</th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr ng-repeat="x in tableData | orderBy:orderByThis | filter:tableSearch | filter: modulesChecked | filter:filterRequired | limitTo:rowsDisplayed">

                                    <td ng-if="bookSelected" ng-repeat="n in tableData[$index]">{{n}}</td>

                                    <td ng-if="iodSelected">{{x.element}}</td>
                                    <td ng-if="iodSelected">{{x.entity}}</td>
                                    <td ng-if="iodSelected">{{x.module}}</td>
                                    <td ng-if="iodSelected">{{x.usage}}</td>
                                    <td ng-if="iodSelected">{{x.req}}</td>
                                    <td ng-if="vrShow && iodSelected">{{x.vr}}</td>
                                    <td ng-if="vmShow && iodSelected">{{x.vm}}</td>
                                    <td ng-if="iodSelected">{{x.name}}</td>
                                    <td ng-bind-html="x.desc" ng-if="iodSelected"></td>
                                </tr>
                            </tbody>
                        </table>
                        <center>
                            <a ng-click="loadMore()">{{endTable}}</a>
                        </center>
                        <br />
                    </div>

                </div>

                <div id="SVG" ng-if="svgShow">
                  <center>
                      <span>Slide bar to zoom: <input id="svgScaleInput" type="range" ng-model="svgValue" min="50" max="100" value="$scope.svgValue" ng-change="svgScaleChange()"></span>
                    <br />
                    <img ng-src="{{svgPath}}" style="{{svgStyle}}" />
                  </center>
                </div>



            </div>
        </div>
    </div>
</body>





<footer>
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/require.min.js"></script>
    <script src="js/app.js"></script>
</footer>

</html>
